*{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

h1{
    color: rgb(44, 18, 18);
    font-size:68px;
    margin-top: 25px;
    margin-left: 370px;
    display: flex;
    
}

.logo{
    margin-top: 10px;
    width: 300px;
    height: 150px;
}
#logo{
    margin-left: 90px;
}
#head{
    display: flex;
    justify-content: baseline;
}
#main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.main{
    width: 400px;
    height: 400px;
    border-radius: 300px;
}
#content{
    background-color: rgb(44, 18, 18);
    width: 750px;
    height: 370px;
    margin-right: 60px;
    padding: 20px 20px;
    border-radius:100px ;
    color: yellow;
   
}
.tagline{
    font-size: 60px;
    color:rgb(10, 10, 12) ;
    padding-left: 30px;
}
.sub-cont{
    font-size: 29px;
    color: rgb(10, 10, 12);
}
#menu{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    justify-content: space-between;
}
a{
    color:  rgb(44, 18, 18) ;
}

.home-content{
    display: flex;
}

#scholarship{
    margin-top: 30px;
    font-size: 25px;
    background-color: rgb(44, 18, 18);
    width: 660px;
    height: 270px;
    padding-left: 40px;
    border-radius:100px ;
    color: rgb(227, 227, 236);
    padding-top: 20px;
   
}
#scholarship li {
    padding-left: 30px;
    font-size: 20px;
}
#facilities{
    margin-top: 30px;
    font-size: 25px;
    background-color: rgb(44, 18, 18);
    width: 460px;
    height: 377px;
    padding-left: 40px;
    color: rgb(227, 227, 236);
    padding-top: 20px;
    margin-left: 68px;
    padding-right: 40px;
    border-radius: 30px;
}
#facilities li {
    padding-left: 10px;
    font-size: 20px;
}
#gal-line{
    color: rgb(44, 18, 18) ;
    font-size: 50px;
    margin-left: 575px;
}
#gal-line2{
    color: rgb(44, 18, 18) ;
    font-size: 50px;
    margin-left: 370px;
}
#gal-line3{
    color: rgb(44, 18, 18) ;
    font-size: 50px;
    margin-left: 460px;
}
#images{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#images img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
#a-tag{
    color: rgb(44, 18, 18) ;
    font-size: 45px;
    margin-left: 550px;
}
#about-main{
    width: 900px;
    margin-top: 30px;
    font-size: 20px;
    background-color: rgb(44, 18, 18);
    padding-left: 40px;
    color: rgb(227, 227, 236);
    padding-top: 20px;
    margin-left: 200px;
    padding-right: 40px;
    border-radius: 30px;
}
#course-images{
    margin-left: 320px;
    padding-top: 50px;
}
#hod-cod{
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
}
.cod, .dep{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cod img{
    width: 300px;
    height: 300px;
    border-radius: 150px;  
}
.desc{
    color:rgb(44, 18, 18) ;
    font-size: 22px;
    margin-left: 20px;
}
#department{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    flex-wrap: nowrap;
}
.dep img{
    width: 150px;
    height: 150px;
    border-radius: 75px;  
}